.one{
  background: url(../media/fog.png) no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  overflow: auto;
}
.two{
  width: 100%;
  height: 700px;
}
.one > .title {
  width: 176px;
  height: 64px;
  font-family: Montserrat;
  font-size: 53px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.4px;
  color: #2a2a2a;
  padding-top: 280px;
  margin: 0 auto;
}
.one > .title > .short-rule-blue{
  width: 43px;
	border: solid 1px #4990e2;
  float: none;
}
.td{
  width: 492.1px;
  /*width: 494px;*/

  height: 209.1px;
  object-fit: contain;
  border-radius: 4.5px;
  background-color: #fff;
  border: solid 1.8px #54b948;
  margin: 200px auto 0px;
}
.td > img {
  margin: 56px 94.6px 0px 93.4px;
}
.loginbg{
  width: 494px;
	height: 45.1px;
	object-fit: contain;
	border-radius: 0px 0px 4.5px 4.5px;
	background-color: #54b948;
  margin-top: 54px;
  /*padding:1px;*/
  /*margin-left: -1px;*/
}
.loginbg > a > .login{
  width: 54px;
	height: 19px;
	font-family: 'Montserrat-light';
	font-size: 16.2px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.4px;
	color: #ffffff;
  margin: 0px auto;
  padding-top: 10px;
}
a{
  text-decoration: none;
}
.td > .loginbg:hover{
  background-color: #fff;
  border: solid 1.8px #54b948;
  width: 492px;
}
.td > .loginbg:hover .login{
  color:#54b948;
}
.emx{
  width: 492.1px;
  height: 209.1px;
  object-fit: contain;
  border-radius: 4.5px;
  background-color: #ffffff;
  border: solid 1.8px #1889b9;
  margin: 75px auto;
}
.emx > img{
  margin: 20.7px 93.5px 0px 93.6px;
}
.emx > .loginbg{
  	background-color: #1889b9;
    margin-top: 31px;
}
.emx > .loginbg:hover{
  background-color: #fff;
  border: solid 1.8px #1889b9;
  width: 492px;
}
.emx > .loginbg:hover .login{
  color: #1889b9;
}
