.DOMcontainer{
  overflow: hidden;
}
.one > .title{
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  padding-top: 150px;
}
.one{
  background: url(../media/ocean.png) no-repeat;
  width: 100%;
  height: 630px;
  background-size: cover;}
.two{
  background-color: #fafafa;
  height: 1060px;
  width: 100%;
  margin-top: 250px;
}
.two > .wrapper > .title{
  margin-top: 200px;
}
.three{
  height: 850px;
}
.three > .wrapper > .title{
  
}
.wrapper{
  padding-top:184px;
  padding-left: 20px;
}
.wrapper > ul > li{
  width: 333px;
}
.client-tools{
  float: none;
  width: 329px;
	height: 189px;
  margin-top: 50px;
}
#mycanvas{
  float: none;
  /*margin-right: 150px;*/
  margin-top: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.service-panels{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-color: #fafafa;
}
.panel{
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
